@tailwind base;
@tailwind components;
@tailwind utilities;

.focus {
    box-shadow: 0 0 0 2px #1ca7ca, 0 0 12px 3px #2396b3;
}

.hover-effect:hover {
    box-shadow: 0 0 0 2px #1ca7ca, 0 0 10px 3px #2396b3;
    transition: box-shadow 0.1s ease-in-out;
}
